@{
    ViewBag.Title = "Knockout for the Xaml Developer";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>            
        </div>
    </section>
}


@section scripts
{
    <script src="~/ViewModels/MainViewModel.js"></script>

    <script type="text/javascript">
        (function() {
            var viewModel = new k4xaml.MainViewModel();

            ko.applyBindings(viewModel);
        })();
    </script>
}

<h3>Demo Area</h3>
<br />
<div class="demoArea">
    <input type="text" data-bind="value: DisplayMessage" />
    <span data-bind="text: DisplayMessage"></span>
    <input type="checkbox" data-bind="checked: DisplayValue" />
</div>


