/*body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}*/

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.validationMessage {
    color: #f00;
    margin-left: 5px;  
}
.field-validation-error {
    color: #f00;
    margin-left: 5px;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Override of Bootstrap */
.padded-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

input[type="text"] {
    margin-bottom: 10px;
}


/* Custom styles */
.table td {
    vertical-align: middle !important;   
}
.table-chromeless tr td {
  border-top: 0px;
}
.table-chromeless tbody tr:hover td,
.table-chromeless tbody tr:hover th {
  background-color: transparent;
}

.table-footerstats td {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.total-label-text {
  color: #d0d0d0;
}
.total-value-text {
  color: #c8d101;
}

.circle
{
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px; /* Safari, Chrome */
       -moz-border-radius: 10px; /* Firefox */
            border-radius: 10px; /* CSS3 */
}

.status-active-color{
	background-color: #3089AA;
}

.status-overdue-color{
	background-color: red;
}

.status-completed-color{
	background-color: #C8D101;
}

.strikethrough {
    text-decoration: line-through;
    font-style: italic;
}

.no-margin {
    margin: 0px !important;
}